{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% language 'es' %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/026a228444.js" crossorigin="anonymous"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% if user.is_authenticated %}
    <div class="navbar">
        <a href="#home" id="nav-title">AMANO</a>
        <div class="navbar-items">
            <div class="dropdown">
                <button class="dropbtn">Resumenes
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'recap:recap_list' %}">Historial de Resumenes</a>
                    <a href="{% url 'recap:recap_create' %}">Crear Resumen</a>
                </div>
            </div>
            <div class="dropdown">

                <button class="dropbtn">Compras
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'purchases:purchases_list' %}">Historial de compras</a>
                    <a href="{% url 'purchases:purchase_create' %}">Crear compra</a>
                </div>
            </div>
            <div class="dropdown">

                <button class="dropbtn">Ventas
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'sales:sale_list' %}">Listado de ventas</a>
                    <a href="{% url 'sales:sale_create' %}">Crear venta</a>
                </div>
            </div>
            <div class="dropdown">

                <button class="dropbtn">Stock
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'stock:stock_list' %}">Listado de Stock</a>
                    <a href="{% url 'stock:product_create' %}">Crear producto</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="login-content">
        {% block login %}

        {% endblock %}
    </div>
</body>
{% endlanguage %}

</html>