{% extends "base.html" %}
{% load humanize %}
{% block title %} Detalle del producto {% endblock %}
{%block content %}
<h1 id="list-title">Viendo producto: {{product}}</h1>
<div class="info-container">
    <div id="top-forms">
        <form action="." method="get" id="search-form" class="date-form"
            onsubmit="return confirm('Confirme para cambiar el precio')">
            {% csrf_token %}
            <div id="search-label">
                <i class="fas fa-calendar-alt"></i>Aumentar precio de venta:
            </div>
            {{change_price_form.amount }}
            <input type="submit" value="Modificar" id="search-btn">
        </form>
        <form method="post" onsubmit="return confirm('Confirme para eliminar el producto')" id="search-form">
            {% csrf_token %}
            <div id="search-label">
                <i class="fa-solid fa-circle-xmark"></i> Eliminar:
            </div>
            {{ detroy_object_form.field.as_hidden }}
            <input type="submit" id="delete-btn" value="Eliminar Producto">
        </form>
    </div>
    <div id="detail-wrapper">
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="title-client-tag">Fecha agregado:</h2>
                <h2 id="title-client-tag">Nombre:</h2>
                <h2 id="title-client-tag">Categoría:</h2>
                <h2 id="title-client-tag">Precio venta:</h2>
            </div>
        </div>
        <div class="title-movement-card">
            <div id="card-row-1">
                <h2 id="client-tag">{{ product.fecha_agregado.day }} / {{ product.fecha_agregado.month }} /
                    {{product.fecha_agregado.year }}
                </h2>
                <h2 id="client-tag">{{ product.nombre | capfirst }}</h2>
                <h2 id="client-tag">{{ product.categoria | capfirst}}</h2>
                <h2 id="client-tag">${{ product.precio_venta | intcomma}}</h2>

            </div>
        </div>
    </div>
</div>
{% endblock %}