:root{
    --accent-color: #141a1e;
}

body{
  background-color: var(--accent-color);
}

/*---------------nav----------------*/

.navbar {
    overflow: hidden;
    background-color: #232230;
    height: fit-content;
  }
  
  .navbar-items {
    margin-left: 15vw;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 0.9vw;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    height: fit-content;
  }
  
  #nav-title {
    width: 15vw;
    text-align: center;
    font-size: 0.9vw;
    font-weight: 600;
    color: #232230;
    background-color: #63ff9b;
    text-align: center;
    padding: 14px 0;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 0.9vw;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: #63ff9b;
    color: #232230;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #CACACACA;
    border: 1px solid #CACACACA;
    min-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #232230;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(177, 177, 177);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*---------------nav----------------*/

